<section id="create-container">
    <div class="create-container-info">
        <h1>Create Announcement</h1>
        <h4>Post your coins to sell</h4>
        <form method="post">
            <label>Name:</label>
            <input type="text" id="name" name="name" value="{{name}}" placeholder="Bitcoin">
            <label>Image:</label>
            <input type="text" id="image" name="imageUrl" value="{{imageUrl}}" placeholder="http://...">
            <label>Price:</label>
            <input type="number" id="price" name="price" value="{{price}}" placeholder="31,166.71">
            <label>Description:</label>
            <textarea id="description" name="description"
                placeholder="Introduce your coins...">{{description}}</textarea>
            <label>Payment method:</label>
            <select id="payment" name="payment">
                <option value="{{payment}}" hidden="hidden" selected="selected">{{payment}}</option>
                <option value="Crypto Wallet">Crypto Wallet</option>
                <option value="Credit Card">Credit Card</option>
                <option value="Debit Card">Debit Card</option>
                <option value="PayPal">PayPal</option>
            </select>
            <input type="submit" id="btn" value="TRADE"></input>
        </form>
    </div>
</section>